* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%) no-repeat fixed;
  font-family: 'Rubik', sans-serif;
  letter-spacing: -.02em;
}

.grid {
  display: grid;
}

.column {
  grid-auto-flow: column;
}

.text-right {
  text-align: right;
}

h1, strong {
  font-weight: 500;
}

h1 {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: #FFF;
}

p {
  color: rgba(0, 0, 0, 0.64);
  font-size: .875rem;
  line-height: 1.063rem;
}

strong {
  color: rgba(0, 0, 0, 0.88);
  font-size: 1rem;
  line-height: 1.188rem;
}

section {
  background: #FFF;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
}

#boarding-pass {
  margin: auto;
}

#ticket {
  margin-top: 1.25rem;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
}

.top {
  gap: 1.5rem;
}

.departure, .arrival {
  width: 7.813rem;
}

.departure strong,
.arrival strong {
  font-size: 2.5rem;
  line-height: 2.938rem;
}

.airplane {
  align-self: center;
}

.airplane ion-icon {
  font-size: 1.5rem;
}

.top time {
  color: rgba(0, 0, 0, 0.8);
}

.top time sup {
  font-weight: 500;
  font-size: .625rem;
  line-height: .75rem;
}

.middle {
  border: 1px dashed rgba(0, 0, 0, 0.32);
  border-left: 0;
  border-right: 0;
}

.bottom .container {
  align-items: center;
  gap: 0.5rem;
}

dl.grid {
  gap: 1rem;
  min-width: 5.938rem;
}

dt time {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.188rem;
  background: #633bbc;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  margin-top: 0.2rem;
}

.bottom > p {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 0.8);
}

.qr-code.grid {
  justify-items: center;
}

footer {
  font-size: .875rem;
  line-height: 1.5rem;
  color: white;
  opacity: 0.64;
  width: 16.875rem;
  text-align: center;
  margin: 1.25rem auto;
}

@media (min-width: 1024px) {
  section {
    background: #FFF;
    padding: 1.5rem 2rem;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    border-radius: 1.5rem 1.5rem 0 0;
  }
  
  .top {  
    --mask: radial-gradient(.75rem at .75rem bottom, #0000 93%, black) -.75rem;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
  }
  
  .middle {  
    --mask: radial-gradient(.75rem at .75rem .75rem, #0000 93%, black) -.75rem -.75rem;
    border-radius: 0;
  }
  
  .bottom {
    border-radius: 0 0 1.5rem 1.5rem;
  
    --mask: radial-gradient(.75rem at .75rem top, #0000 93%, black) -.75rem;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
  }  
}